absl-py==1.4.0
addict==2.4.0
aiofiles==22.1.0
aiosqlite==0.18.0
aniso8601==9.0.1
annotated-types==0.7.0
anyascii==0.3.2
anyio==4.4.0
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.5.2
asttokens==2.2.1
attrs==20.3.0
audioread==3.0.1
Babel==2.12.1
backcall==0.2.0
basicsr==1.4.2
bcrypt==4.0.1
beautifulsoup4==4.11.2
bleach==6.0.0
blinker==1.6.3
boto3==1.35.40
botocore==1.35.40
Brotli==1.1.0
cachetools==5.3.1
certifi==2024.6.2
cffi==1.15.1
charset-normalizer==3.1.0
check50==3.3.11
click==8.1.7
comm==0.1.2
config==0.5.1
contourpy==1.1.0
cowsay==6.1
cryptography==42.0.5
cs50==9.3.4
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
Django==4.1.3
django-dotenv==1.4.2
django-embed-video==1.4.8
django-environ==0.9.0
django-filter==23.3
django-modelcluster==6.1
django-permissionedforms==0.1
django-restframework==0.0.1
django-taggit==4.0.0
django-treebeard==4.7
djangorestframework==3.14.0
dnspython==2.6.1
draftjs-exporter==2.1.7
email_validator==2.1.1
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
facexlib==0.3.0
fastapi==0.111.0
fastapi-cli==0.0.4
fastjsonschema==2.16.3
ffmpeg-python==0.2.0
filelock==3.10.7
filetype==1.2.0
filterpy==1.4.5
Flask==3.0.0
flask-restx==1.3.0
Flask-S3==0.3.3
Flask-SQLAlchemy==3.1.1
fonttools==4.41.1
fqdn==1.5.1
future==0.18.3
gfpgan==1.3.8
google-auth==2.22.0
google-auth-oauthlib==1.0.0
grpcio==1.57.0
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==3.7
imageio==2.31.1
importlib-metadata==6.8.0
importlib_resources==6.4.0
ipykernel==6.21.3
ipython==8.11.0
ipython-genutils==0.2.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
jellyfish==0.11.2
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.3.2
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-ydoc==0.2.3
jupyter_client==8.0.3
jupyter_core==5.3.0
jupyter_server==2.5.0
jupyter_server_fileid==0.8.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab_server==2.20.0
kiwisolver==1.4.4
l18n==2021.3
lazy_loader==0.3
lib50==3.0.11
librosa==0.10.1
llvmlite==0.40.1
lmdb==1.4.1
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.0.7
mutagen==1.47.0
mysqlclient==2.1.1
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.1
notebook==6.5.3
notebook_shim==0.2.2
numba==0.57.1
numpy==1.24.2
oauthlib==3.2.2
opencv-python==4.8.0.76
openpyxl==3.1.2
orjson==3.10.3
outcome==1.2.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
passlib==1.7.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pillow-heif==0.13.1
platformdirs==3.10.0
pooch==1.8.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==4.23.4
psutil==5.9.4
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pycparser==2.21
pycryptodomex==3.20.0
pydantic==2.7.3
pydantic_core==2.18.4
PyGetWindow==0.0.9
Pygments==2.18.0
PyJWT==2.8.0
PyMsgBox==1.0.9
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-Quartz==10.3.1
pyparsing==3.0.9
pyperclip==1.8.2
PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==1.0.1
PySocks==1.7.1
pytesseract==0.3.13
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.9
pytweening==1.2.0
pytz==2022.6
PyWavelets==1.4.1
PyYAML==6.0.1
pyzmq==25.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rsa==4.9
rubicon-objc==0.4.9
s3transfer==0.10.3
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.11.2
selenium==4.19.0
Send2Trash==1.8.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4
soxr==0.3.7
SQLAlchemy==2.0.30
sqlparse==0.4.3
stack-data==0.6.2
starlette==0.37.2
sympy==1.12
tb-nightly==2.15.0a20230818
telepath==0.3.1
tensorboard-data-server==0.7.1
termcolor==1.1.0
terminado==0.17.1
threadpoolctl==3.2.0
tifffile==2023.8.12
tinycss2==1.2.1
tomli==2.0.1
torch==2.0.1
torchvision==0.15.2
tornado==6.2
tqdm==4.66.1
traitlets==5.9.0
trio==0.22.2
trio-websocket==0.10.3
tweepy==4.14.0
typer==0.12.3
typing_extensions==4.12.1
ujson==5.10.0
uri-template==1.2.0
urllib3==1.26.12
uvicorn==0.30.1
uvloop==0.19.0
virtualenv==20.21.0
wagtail==5.2
watchfiles==0.22.0
wcwidth==0.2.6
webcolors==1.12
webdriver-manager==4.0.0
webencodings==0.5.1
websocket-client==1.5.1
websockets==12.0
Werkzeug==3.0.0
whitenoise==6.2.0
Willow==1.6.2
wsproto==1.2.0
y-py==0.5.9
yapf==0.40.1
ypy-websocket==0.8.2
yt-dlp==2024.3.4.232716.dev0
zipp==3.16.2
